// Sprawy dla reportowe, ktokolwiek widzial, ktokolwiek wie
// 1. text-typing, nie chce zrobic spacji -- SOLVED
// 2. navigation, podkreslenie przy hoverze, nie robi sie jak nalezy
//    chociaz wyglada teraz calkiem fajnie xDD
// 3. wstawienie particles.js nie jest takie proste : (

@import "includes/variables";
@import "includes/mixims";
@import "includes/normalize";
@import "sections/navigation";
@import "sections/main-page";
@import "sections/about";
@import "sections/abilities";
@import "sections/services";
@import "sections/portfolio";
@import "sections/testimonials";
@import "sections/numbers";
@import "sections/news";
@import "sections/contact";
@import "sections/gallery";
@import "sections/preloading";
// @import "sections/test";
// @import "sections/loader";



html {
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: justify;

    // body {
    //     max-width: 100vw;
    //     min-height: 100vh;
    // }
}

// -------- RESPONSIVE FOR 768px - 1500px (XIAOMI REDMI 7) -------
// ---------------------------------------------------------------
// @media screen and (max-width: 768px) {
//     html {
//         max-width: 100vw;
//     }
// }

// -------------------------------------------------------------------
// ------------------------------- FOOTER ----------------------------
// -------------------------------------------------------------------
footer {
    height: 150px;
    background-color: $mainBackgroundColor;
    margin-left: 300px;
    margin-bottom: 0;
    margin-top: 0;
    overflow-x: hidden;

    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: 0.5px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }
}

.active-footer {
    transform: translateX(-300px);
    width: 100%;
}

// -------- RESPONSIVE FOR 768px - 1500px (XIAOMI REDMI 7) -------
// ---------------------------------------------------------------
@media screen and (max-width: 768px) {
    footer {
        margin: 10px 15px;
        max-width: 100vw;
        width: 100%;
        padding-top: 20px;
        margin: 10px;
        overflow-x: hidden;
    }
}

// -------------------------------------------------------------------
// ---------------------- BUTTON SCROLL TO THE TOP ----------------------
// -------------------------------------------------------------------

#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #E3872D;
    color: white;
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.5s;
}

#myBtn:hover {
    background-color: #041230;
}