// Sprawy dla reportowe, ktokolwiek widzial, ktokolwiek wie
// 1. text-typing, nie chce zrobic spacji -- SOLVED
// 2. navigation, podkreslenie przy hoverze, nie robi sie jak nalezy
//    chociaz wyglada teraz calkiem fajnie xDD
// 3. wstawienie particles.js nie jest takie proste : (

@import "includes/variables";
@import "includes/mixims";
@import "includes/normalize";

html {
    overflow-x: hidden;
    box-sizing: border-box;
}

// ---------------------- NAVIGATION -------------------------
// Zrobic animacje lini przy najezdzaniu cursorem
// zrobic przycisk chowania sie menu po nacisnieci
#navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $mainBackgroundColor;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 0;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.5px solid #ffffff59;

        img {
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }

    .menu {

        ul {
            list-style: none;
            line-height: 2.25;
            text-decoration: none;
            padding: 0 20px 0 60px;

            li {

                a {
                    font-family: 'Montserrat', sans-serif;
                    text-decoration: none;
                    color: $mainFontColor;
                    position: relative;

                }

                a::after {
                    content: ' ';
                    position: absolute;
                    display: block;
                    width: 0%;
                    height: 2px;
                    background: #ff7b00;
                    bottom: -5px;
                    transition: 0.4s all;
                    transform: translateX(100%);
                    // transform: translateY(-200%);
                }

                a:hover::after {
                    width: 50%;
                }

                a:hover {
                    color: #E3872D;
                }

            }
        }
    }

    .menu-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;

        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            padding: 0 20px 0 60px;

            li {
                margin-right: 22px;
                display: flex;
                justify-content: space-between;

                a {
                    color: $mainFontColor;
                    font-size: 12px;
                }

                a:hover {
                    color: #E3872D;
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .button {
        height: 26px;
        width: 26px;
        background-color: $mainButtonColor;
        cursor: pointer;

        // justify-content: center;
        // right: 0;
        align-items: flex-end;
        border-radius: 2px;

        .wrapper {
            position: relative;

            div {
                height: 1.5px;
                background-color: black;
                width: 40%;
                border-radius: 2px;
                position: absolute;
            }

            div:nth-child(1) {
                transform: rotate(45deg);
                top: 15px;
                left: 2px;
            }

            div:nth-child(2) {
                transform: rotate(-45deg);
                bottom: 16px;
                left: 2px;
            }
        }
    }
}

// ------------------------- MAIN PAGE ------------------------
// Poprawic czcionke
#main-page {
    height: 100vh;
    margin-left: 300px;
    // margin-right: ;
    // border: 1px solid red;
    background-image: url(../img/background-image.jpg);
    background-size: cover;

    .container {
        background-color: #04123085;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile-photo {
            height: 200px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0 20px 0;
            padding: 0;

            img {
                height: 200px;
                width: 200px;
                border: 5px solid grey;
                border-radius: 50%;
            }
        }

        .nameHolder {
            margin: 0;
            padding: 0;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: $mainFontColor;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;

                span {
                    color: #E3872D;
                    font-family: 'Montserrat', sans-serif;
                }
            }

            .textTyping {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: $mainFontColor;
                font-family: 'Montserrat', sans-serif;
                display: flex;
                justify-content: center;

                .typewrite {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: $mainFontColor;
                    font-family: 'Montserrat', sans-serif;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

// ---------------------- SECTION 2 - ABOUT -------------------------
// Poprawic napis (rightPart)
// Zrobic hover na obrazku i przy przyciskach
// Wyrownac liste do lewej strony (CHOLERA JAK?)

#about {
    height: 100vh;
    margin-left: 300px;
    margin-bottom: 100px;
    // border: 1px solid red;
    padding-top: 80px;

    .container {
        width: 100%;
        height: 100vh;
        margin-left: 30px;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 40px;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;
            }

            h2 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            //  TUTAJ COS SMIERDZI, PADDINGI/ MARGINY CHUJE MUJE
            width: 95%;
            display: flex;
            justify-content: center;
            // align-items: center;
            // margin: 30px;
            // border: 3px solid red;


            .leftPart {
                width: 45%;
                // border: 1px solid green;
                position: relative;


                .background {
                    width: 350px;
                    height: 380px;
                    border: 10px solid #041230;
                    position: absolute;
                    z-index: 1;
                    transform: translate(25px, 30px);
                }

                .photo {
                    width: 350px;
                    // height: 365px;
                    position: absolute;
                    z-index: 2;

                    img {
                        width: 100%;
                    }
                }
            }

            .rightPart {
                width: 55%;
                // border: 1px solid blue;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 1.8;
                letter-spacing: 0.5px;
                word-wrap: break-word;
                font-weight: 400;

                .start {
                    display: flex;
                    justify-content: start;

                    h3 {}

                    h3 {
                        .typewrite {
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: $mainFontColor;
                            font-family: 'Montserrat', sans-serif;
                            display: flex;
                            justify-content: center;
                        }
                    }

                    span {}
                }

                .list {
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0;

                    .firstCol {
                        display: block;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 0px;

                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin-left: o;

                            li {}
                        }
                    }

                    .secondCol {
                        ul {
                            list-style: none;

                            li {}
                        }
                    }

                    .thirdCol {
                        ul {
                            list-style: none;

                            li {}
                        }
                    }

                    .fourthCol {
                        ul {
                            list-style: none;

                            li {}
                        }
                    }
                }

                .buttomsAbout {
                    ul {
                        list-style: none;
                        display: flex;
                        justify-content: space-around;

                        li {

                            a {
                                text-decoration: none;
                                color: #fff;
                                background-color: #E3872D;
                                font-weight: 600;
                                font-family: "Montserrat";
                                padding: 12px 35px;
                                border-radius: 3px;
                                display: inline-block;
                                position: relative;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ----------------------- SECTION 3 - ABILITIES ---------------------
#abilities {
    height: 100vh;
    margin-left: 300px;
    // border: 1px solid red;
    display: flex;
    align-items: center;

    .container {
        height: 220px;
        width: 100%;
        display: flex;
        background-color: #F6F7FD;
        padding: 60px 0;

        .leftPart {
            width: 40%;
            line-height: 1.8;
            letter-spacing: 0.5px;
            color: #000000;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            // padding-bottom: 0;
            padding: 10px;

            h3 {
                font-size: 28px;
                font-weight: 300;
            }

            p {
                font-size: 12px;
                font-weight: 300;
            }
        }

        .rightPart {
            width: 60%;
            // border: 1px solid red;
            margin: 0 5px;


            .text {
                display: flex;
                justify-content: space-between;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 7px 0;

                // font-weight: 700;
                .dupa {
                    display: flex;

                }

            }

            .line {
                // border: 1px solid blue;
                background-color: #DDDEE3;
                width: 100%;
                height: 7px;

                .lineInside {
                    // border: 1px solid green;
                    background-color: #000000;
                    width: 95%;
                    height: 7px;
                }
            }
        }
    }
}

// ------------------------- SECTION 4 - SERVICES ---------------------
#services {
    // height: 100vh;
    margin-left: 300px;
    margin-bottom: 100px;
    // border: 1px solid red;
    padding-top: 80px;

    .container {
        width: 95%;
        // height: 100vh;
        margin-left: 30px;
        // border: 1px solid green;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 40px;
            // border: 1px solid red;


            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;
            }

            h3 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            width: 100%;
            // height: 100vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box {
                height: 300px;
                width: 300px;
                // border: 1px solid blue;
                padding: 20px;
                margin-bottom: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


                .icon {
                    font-size: 50px;
                    color: #E3872D;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: #000000;
                    font-weight: 700;
                    font-family: 'Montserrat', sans-serif;
                }

                p {
                    font-size: 10px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: #000000;
                    font-family: 'Montserrat', sans-serif;
                }
            }

            .box:hover {
                transform: translate(0, -10px);
                // opacity: 0.5s all;
                transition: 0.5s all;
            }
        }

    }
}

// ------------------- SECTION 5 - PORTFOLIO ----------------
#portfolio {
    // height: 100vh;
    margin-left: 300px;
    margin-bottom: 100px;
    // border: 1px solid red;
    padding-top: 80px;

    .container {
        width: 95%;
        // height: 100vh;
        margin-left: 30px;
        // border: 1px solid green;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 40px;

            // border: 1px solid red;
            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;
            }

            h3 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            border: 1px solid red;

            .portfolioNavigation {
                display: inline-block;

                ul {
                    list-style: none;
                    display: flex;
                    // margin-right: 15px;

                    li {
                        margin-right: 25px;

                        a {
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: #000000;
                            font-family: 'Montserrat', sans-serif;
                            text-decoration: none;

                        }
                    }
                }
            }

            .bigBox {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .box {
                    width: 32%;
                    height: 100px;
                    border: 1px solid purple;

                    a {
                        width: 100%;

                        .image {
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}



// -------------- BUTTON SCROLL TO THE TOP -----------------
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #E3872D;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #041230;
    /* Add a dark-grey background on hover */
}