// -------------------------------------------------------------------
// ----------------------- SECTION 3 - ABILITIES ---------------------
// -------------------------------------------------------------------

#abilities {
    min-width: 100vh;
    margin-left: 300px;
    display: flex;
    align-items: center;
    padding: 80px 0;

    .container {
        height: 50%;
        width: 100%;
        display: flex;
        background-color: #F6F7FD;
        align-content: center;


        .leftPart {
            height: 100%;
            width: 35%;
            line-height: 1.8;
            letter-spacing: 0.5px;
            color: #000000;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding-left: 30px;
            font-weight: bolder;

            h3 {
                margin: 0;
                padding: 0 20px;
                font-size: 28px;
                font-weight: 300;
            }

            p {
                font-size: 12px;
                font-weight: 300;
                text-align: justify;
            }
        }

        .activeLeftPart {
            padding-left: 100px
        }

        .rightPart {
            width: 65%;
            margin: 0 auto;
            padding: 0 40px;
            align-content: center;

            .text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                margin: 7px 0;

                div {
                    font-size: 13px;
                }
            }

            .progress {
                position: relative;
                height: 5px;
                margin: 13px 0;
                background: #bdc3c7;
                width: 100%;

                span {
                    display: block;
                    height: 100%;
                    background-color: rgb(230, 126, 34);
                    position: relative;
                    overflow: hidden;
                }
            }
        }
    }

    button {
        background-color: orangered;

        .btnBar {
            width: 20px;
            height: 20px;
            cursor: pointer;

        }
    }
}

.active-abilities {
    transform: translateX(-300px);
    width: 100%;
}

// -------- RESPONSIVE FOR 768px - 1500px (XIAOMI REDMI 7) -------
// ---------------------------------------------------------------
@media screen and (max-width: 768px) {
    #abilities {
        margin: 0 15px;
        height: 100%;
        width: 100%;
        // padding: 80px 0;
        margin: 10px;
        overflow-x: hidden;

        .container {
            display: block;
            margin: 0;
            padding: 0;
            padding: 60px 0;

            .leftPart {
                display: block;
                width: 100%;
                padding: 0 15px;
                margin: 0;
                height: 30vh;


                h3 {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                }

                p {}
            }

            .activeLeftPart {}

            .rightPart {
                width: 100%;
                padding: 10px;
                margin: 0;

                .text {

                    div {}

                }

                .line {

                    .lineInside {}
                }
            }
        }
    }



}