// -------- SECTION 2 - ABOUT -----------

#about {
    margin-left: 300px;
    margin-bottom: 100px;
    padding-top: 80px;

    .container {
        width: 100%;
        height: 100%;
        padding-left: 45px;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 40px;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }

            h2 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            width: 95%;
            display: flex;
            justify-content: center;

            .leftPart {
                width: 45%;
                position: relative;


                .background {
                    width: 350px;
                    height: 380px;
                    border: 10px solid #041230;
                    position: absolute;
                    z-index: 1;
                    transform: translate(25px, 30px);
                }

                .photo {
                    width: 350px;
                    position: absolute;
                    z-index: 2;

                    img {
                        width: 100%;
                    }
                }
            }

            .rightPart {
                width: 55%;
                font-size: 13px;
                line-height: 1.8;
                letter-spacing: 0.5px;
                word-wrap: break-word;
                font-weight: 400;
                margin: 0 20px;

                .start {
                    display: flex;
                    justify-content: start;

                    h3 {}

                    h3 {
                        .typewrite {
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: $mainFontColor;
                            display: flex;
                            justify-content: center;
                        }
                    }

                    span {}
                }

                .list {
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0;

                    .firstCol {
                        display: block;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 0px;

                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin-left: o;

                            li {}
                        }
                    }

                    .secondCol {
                        display: block;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 0px;

                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin-left: o;

                            li {}
                        }
                    }

                    .thirdCol {
                        display: block;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 0px;

                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin-left: o;

                            li {}
                        }
                    }

                    .fourthCol {
                        display: block;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 0px;

                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin-left: o;

                            li {}
                        }
                    }
                }

                .buttomsAbout {
                    display: flex;
                    justify-content: space-around;
                    padding: 0;

                    ul {
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        margin: 0;

                        li {
                            padding-right: 20px;

                            a {
                                text-decoration: none;
                                color: #fff;
                                background-color: #E3872D;
                                font-weight: 600;
                                padding: 12px 35px;
                                border-radius: 3px;
                                display: inline-block;
                                position: relative;
                                overflow: hidden;
                                transition: all 0.5s;
                            }

                            a:hover {
                                background-color: $mainBackgroundColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .active-cont {
        transform: translateX(-300px);
    }
}

.active-about {
    width: 100vw;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0 80px;
}

@media screen and (max-width: 768px) {
    #about {
        transform: translateX(-300px);

        .container {
            padding: 0 10px;
            margin: 0 auto;

            .title {
                width: 100vw;
            }

            .center {
                display: block;
                padding: 0;
                margin: 0;
                width: 100%;
                justify-content: flex-start;

                .leftPart {
                    display: none;
                }

                .rightPart {
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 90vw;

                    .list {
                        display: flex;
                        flex-wrap: wrap;

                        .firstCol {
                            ul {
                                margin: 10px 30px 10px 10px;
                                padding: 0;

                                li {
                                    width: 100%;
                                }
                            }
                        }

                        .secondCol {
                            ul {
                                margin: 10px 30px 10px 30px;
                                padding: 0;

                                li {}
                            }
                        }

                        .thirdCol {
                            ul {
                                margin: 10px 30px 10px 10px;
                                padding: 0;

                                li {}
                            }
                        }

                        .fourthCol {
                            ul {
                                margin: 10px 30px;
                                padding: 0;

                                li {}
                            }
                        }
                    }

                    .buttomsAbout {
                        ul {
                            margin: 20px 0 0 0;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}