// --------- LAST SECTION - CONTACT -----------
#contact {
    margin-left: 300px;
    margin-bottom: 100px;
    padding: 80px 0;

    .container {
        width: 100%;
        height: 100%;
        padding-left: 45px;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 40px;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }

            h3 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .leftSide {
                width: 30%;
                padding-top: 30px;

                .header {
                    width: 100%;
                    font-size: 26px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: #000000;
                    margin: 0;
                    padding: 10px 0;
                }

                .row {
                    display: flex;
                    justify-content: space-between;


                    .column {

                        div {
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: #000000;
                            margin: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .rightSide {
                width: 60%;
                padding: 0 20px;

                form {

                    .row {
                        border-bottom: 1px solid #000000;
                        padding: 10px 0;
                        margin-bottom: 20px;

                        input {
                            border: none;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: #3a3737;
                            margin: 0;
                            padding-bottom: 0
                        }

                        textarea {
                            border: none;
                            font-size: 14px;
                            font-weight: 00;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: #3a3737;
                            margin: 0;
                            padding-bottom: 0;
                        }

                        button {
                            display: block;
                            text-decoration: none;
                            color: #fff;
                            background-color: #E3872D;
                            font-weight: 300;
                            padding: 12px 35px;
                            border-radius: 3px;
                            display: inline-block;
                            overflow: hidden;
                            border: 1px solid #E3872D;

                            .button {}
                        }
                    }

                    .row:last-child {
                        border-bottom: none;
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    .active-cont {
        transform: translateX(-300px);
    }
}

.active-contact {
    width: 100vw;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0 80px;
}

@media screen and (max-width: 768px) {
    #contact {
        height: 100%;
        width: 100vw;
        padding: 80px 0;
        margin: 10px;
        overflow-x: hidden;

        .container {
            height: 100%;
            width: 100vw;
            padding: 0 10px;
            margin: 0 auto;

            .title {
                margin-bottom: 40px;
            }

            .center {

                .leftSide {
                    width: 100%;

                    .header {
                        width: 90%;
                    }

                    .row {
                        padding-bottom: 20px;
                        justify-content: space-around;
                    }
                }

                .rightSide {
                    width: 100%;
                }
            }
        }
    }
}