// ------------------------- MAIN PAGE -------------------------------
// -------------------------------------------------------------------
#main-page {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -100;

    .particles {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../img/background-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -100;

        .container {
            background-color: #04123085;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 300px;

            .profile-photo {
                height: 200px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 50px 0 20px 0;
                padding: 0;

                img {
                    height: 200px;
                    width: 200px;
                    border: 5px solid grey;
                    border-radius: 50%;
                }
            }

            .nameHolder {
                margin: 0;
                padding: 0;

                h1 {
                    font-size: 40px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: $mainFontColor;
                    margin: 0;
                    padding-bottom: 0;
                    color: #E3872D;

                    span {
                        color: #E3872D;
                    }
                }

                .textTyping {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: $mainFontColor;
                    display: flex;
                    justify-content: center;

                    .typewrite {
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 1.8;
                        letter-spacing: 0.5px;
                        color: $mainFontColor;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .active-cont {
            padding-left: 0;
        }
    }

    .active-cont {
        padding-left: 0;
    }
}

.active-main {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #main-page {
        margin-left: 0;
        width: 100vw;
        overflow-x: hidden;

        .particles {
            .container {
                padding-left: 0;
            }
        }

    }
}