// ------- SECTION - NEWS --------

#news {
    margin-left: 300px;
    padding-top: 80px;

    .container {
        width: 100%;
        height: 100%;
        padding-left: 45px;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 100px;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }

            h3 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box {
                width: 32%;
                height: 500px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


                .image {
                    height: 40%;
                    width: auto;
                    margin-bottom: 7px;

                    img {
                        height: 100%;
                        max-width: 100%;
                    }
                }

                .mainInfo {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .date {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.8;
                        letter-spacing: 0.5px;
                        color: #000000;
                        margin: 0;
                        padding-bottom: 0;
                    }

                    .link {

                        a {
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: #000000;
                            margin: 0;
                            padding-bottom: 0;
                            text-decoration: none;
                        }
                    }
                }

                .new {
                    height: 60%;

                    ul {
                        list-style: none;
                        padding: 0 15px;

                        li {
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            color: #000000;
                            margin: 0;
                            padding-bottom: 10px;

                            a {
                                text-decoration: none;
                                color: #fff;
                                background-color: #E3872D;
                                font-weight: 600;
                                padding: 12px 35px;
                                border-radius: 3px;
                                display: inline-block;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }

    .active-cont {
        transform: translateX(-300px);
    }
}

.active-news {
    width: 100vw;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0 80px;
}

@media screen and (max-width: 768px) {
    #news {
        height: 100%;
        width: 100vw;
        padding-top: 60px;
        margin: 10px;
        overflow-x: hidden;

        .container {
            height: 100%;
            width: 100vw;
            padding: 0 10px;
            margin: 0 auto;

            .center {

                .box {
                    width: 100%;
                    margin: 20px;
                }
            }
        }
    }
}