// -------------- SECTION 4 - SERVICES -------------

#services {
    margin-left: 300px;
    // margin-bottom: 100px;
    padding-top: 80px;
    min-height: 100vh;

    .container {
        width: 100%;
        height: 100vh;
        padding-left: 45px;

        .title {
            border-left: 6px solid #E3872D;
            padding-left: 15px;
            margin-bottom: 40px;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }

            h3 {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.5px;
                color: #000000;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .center {
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0 50px;

            .box {
                height: 300px;
                width: 300px;
                padding: 20px 30px;
                margin: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: all 0.5s;

                .icon {
                    font-size: 50px;
                    color: #E3872D;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: #000000;
                    font-weight: 700;
                }

                p {
                    font-size: 10px;
                    font-weight: 300;
                    line-height: 1.8;
                    letter-spacing: 0.5px;
                    color: #000000;
                }
            }

            .box:hover {
                transform: translate(0, -10px);
                transition: all 0.5s;
            }
        }
    }

    .active-cont {
        transform: translateX(-300px);
    }
}

.active-services {
    width: 100vw;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0 80px;
}

@media screen and (max-width: 768px) {
    #services {
        height: 100%;
        width: 100vw;
        padding-top: 20px;
        margin: 10px;
        overflow-x: hidden;

        .container {
            height: 100%;
            width: 100vw;
            padding: 0 10px;
            margin: 0 auto;

            .center {
                padding: 0;

                .box {
                    margin: 10px;
                }
            }
        }
    }

}