#testimonials {
    margin-bottom: 100px;
    height: 60vh;
    width: 100vw;
    background-image: url(/assets/img/testimonials.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    z-index: 0;

    .container {
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);

        .quotes {
            height: 100%;
            margin-left: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 150px;

            .icon {
                font-size: 40px;
                color: #E3872D;
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                align-content: center;
            }

            .text {
                color: #fff;
                font-size: 24px;
                font-weight: 500;
                line-height: 1.4;
                display: flex;
                justify-content: center;
                text-align: center;
            }

            .author {
                color: #fff;
                font-size: 20px;
                font-weight: 100;
                line-height: 1.4;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        .active-quotes {
            margin-left: 0;
        }
    }

    .active-cont {
        margin-left: 0px;
    }

}

.active-testimonials {
    width: 100vw;
    margin-left: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 768px) {
    #testimonials {
        height: 100%;
        width: 100vw;
        margin: 80px 0;
        overflow-x: hidden;

        .container {
            height: 100%;
            width: 100vw;
            padding: 0 10px;
            margin: 0 auto;

            .quotes {
                padding: 40px 10px;
                margin: 0;
            }
        }
    }
}