// -------------------------------------------------------------------
// --------------------- SECTION - TESTIMONIALS ----------------------
// -------------------------------------------------------------------
#testimonials {
    // max-width: 100vw;
    margin-left: 300px;
    max-height: 80vh;
    background-image: url(../img/testimonials.jpeg);
    background-size: cover;
    // background-attachment: fixed;
    background-position: center;
    // position: relative;
    // right: 300px;

    .container {
        // position: absolute;
        // margin: 0 auto;
        // height: 100%;
        max-width: 100vw;
        background-color: #041230c0;
        padding: 0 130px;
        // background-size: cover;
        // background-attachment: fixed;
        // background-position: center;
        // display: flex;

        .owl-carousel {

            .quotes {


                .icon {
                    font-size: 32px;
                    color: #E3872D;
                    display: flex;
                    justify-content: center;
                    padding-bottom: 10px;
                    align-content: center;
                }

                .text {
                    color: #fff;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    line-height: 1.4;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }

                .author {
                    color: #fff;
                    font-size: 15px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 100;
                    line-height: 1.4;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
}

.active-testimonials {
    max-width: 100vw;
    height: 80vh;
    margin-left: 0;

}

@media screen and (max-width: 768px) {
    #testimonials {
        height: 75vh;
        margin: 10px 15px;
        max-width: 100vw;
        width: 100%;
        padding-top: 20px;
        margin: 10px;
        overflow-x: hidden;

        .container {
            padding: 20px;
            display: flex;
            align-items: center;

            .owl-carousel {
                width: 100%;

                .quotes {


                    .icon {}

                    .text {}

                    .author {}
                }
            }
        }
    }
}